/* your custom css */

.fixedHeaderContainer {
  background: #1c1c1c;
}

.navigationSlider .slidingNav ul {
  background: #1c1c1c;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: none;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  position: relative;
  color: #3a8fb7;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a::before,
.navigationSlider .slidingNav ul li.siteNavGroupActive a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #3a8fb7;
  bottom: -11px;
  left: 0;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 736px) {
  .navigationSlider .slidingNav ul li.siteNavItemActive a::before,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a::before {
    bottom: 0;
  }
}

@media only screen and (min-width: 736px) {
  .navigationSlider .slidingNav ul li a:hover {
    background: none;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
